
body {
  margin:0;
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 30px;

}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;

}
p {
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
}

.top-container {
    background-color: #EAF6FC;
    position:relative;
    padding-top: 100px;
  }

.middle-container {
}

.bottom-container {
}


.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right:300px;
  top:50px;
}

.bottom-cloud {
  position: absolute;
  left:300px;
  bottom:300px;
}

.oom {
  height:200px;
  border-radius:80%;
}

.code {
  height:300px;

}

.base {
  height:300px;
}
